/.bundle
/.env*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
/tmp/cache/*
/tmp/storage/*
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
.DS_Store
coverage/
